@font-face
{
    font-family: 'gotham-rounded-book';

    src: url(../../fonts/gotham-rounded-book.otf) format('truetype');
}

body
{
    font-style: normal;
}

div.scroll
{
    overflow-x: hidden;
    overflow-y: scroll;

    height: 100%;
}

.IconTarjeta
{
    width: 42px;
}

.numTarjeta
{
    font-size: x-large;
}

#map
{
    width: 100%;
    height: 100%;
}

.thumbnail
{
    font-size: 15px;
    line-height: 1.42857143;

    margin-bottom: 0;
    padding: 4px;

    -webkit-transition: border .2s ease-in-out;
         -o-transition: border .2s ease-in-out;

    border-radius: 4px;
    background-color: #fff;
}

.imagenres
{
    width: 100%;
    height: 200px;
}

.deleteProperty {
    position: absolute;
    top: 18%;
    right: 27%;
    z-index: 100;
    padding: 5px 2px 2px;
    color: red;
    font-weight: bold;
    display: none;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);

    width: 14px;
    height: 14px;
    padding: 4px;

    background: #e85a4e;
    border: red;
    color: white;
    font: 14px Arial, sans-serif;
}

@media (min-width: 448px) {
    .deleteProperty {
        right: 32%;
    }
}

@media (min-width: 500px) {
    .deleteProperty {
        right: 37%;
    }
}

@media (min-width: 700px) {
    .deleteProperty {
        right: 39%;
    }
}

@media (min-width: 970px) {
    .deleteProperty {
        right: 40%;
    }
}

@media (min-width: 1000px) {
    .deleteProperty {
        right: 35%;
    }
}

@media (min-width: 1200px) {
    .deleteProperty {
        right: 19%;
    }
}

@media (min-width: 768px)
{
    .deleteProperty {
        right: 20%;
    }

    .thumbnail
    {
        font-size: 15px;
        line-height: 1.42857143;

        margin-bottom: 25px;
        padding: 0 4px;

        -webkit-transition: border .2s ease-in-out;
             -o-transition: border .2s ease-in-out;

        border-radius: 4px;
        background-color: #fff;
    }

    .imagenres
    {
        width: 100%;
        height: 200px;
    }
}

@media (min-width: 1500px){
    .deleteProperty {
        right: 23%;
    }
}

@media (min-width: 1800px){
    .deleteProperty {
        right: 24%;
    }
}

@media (min-width: 2500px){
    .deleteProperty {
        right: 26%;
    }
}

@media (min-width: 3000px){
    .deleteProperty {
        right: 28%;
    }
}

div#house_description
{
    margin-left: 15%;
}

#promotor
{
    width: 40%;
}

p#info-pro
{
    margin-top: -58%;
    margin-left: 43%;
}

p.bg-primary.casa
{
    width: 300px;
    padding-left: 33%;
}

.lugares
{
    margin-top: 5%;
    margin-left: -10%;
}

img.imgt
{
    object-fit: cover;
}

/*Laptop > 1800px*/
@media screen and (max-width: 4000px) and (max-height: 4000px)
{
    img.imgt {
        height: 450px !important;
    }
    .carousel,
    .item
    {
        height: 450px !important;
    }
}

/*Laptop*/
@media screen and (max-width: 1800px) and (max-height: 1500px)
{
    img.imgt {
        height: 220px !important;
    }
    .carousel,
    .item
    {
        height: 220px !important;
    }
}

/*Tablet*/
@media screen and (max-width: 1400px) and (max-height: 1000px)
{
    img.imgt {
        height: 230px !important;
    }
}

@media screen and (max-width: 1000px) and (max-height: 1000px)
{
    img.imgt {
        height: 220px !important;
    }
}

@media screen and (max-width: 800px) and (min-height: 1001px)
{
    img.imgt {
        height: 220px !important;
    }
}

/*L Mobile*/
@media screen and (max-width: 800px) and (max-height: 450px)
{
    img.imgt {
        height: 220px !important;
    }
}

@media screen and (max-width: 500px) and (max-height: 1000px)
{
    img.imgt {
        height: 220px !important;
    }
}

/*M Mobile*/
@media screen and (max-width: 800px) and (max-height: 400px)
{
    img.imgt {
        height: 220px !important;
    }
}

@media screen and (max-width: 400px) and (max-height: 1000px)
{
    img.imgt {
        height: 220px !important;
    }
}


/*S Mobile*/
@media screen and (max-width: 320px) and (max-height: 1000px)
{
    img.imgt {
        height: 217px !important;
    }
}

@media screen and (max-width: 800px) and (max-height: 320px)
{
    img.imgt {
        height: 220px !important;
    }
}


.col-md-8.pos
{
    margin-left: 17%;
}

/* M O D A L - P D F */
h4
{
    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 15px;
}

.direccion
{
    font-size: 103%;

    color: #012967;
}

.precio
{
    font-size: 25px;
    font-weight: bold;

    margin: 8px 0;

    color: #012967;
}

.separador
{
    margin-top: 5px;
}

.azulRevimex
{
    background: #012967;
}

.verdeRevimex
{
    background: #e5f38f;
}

.arenaRevimex
{
    background: #e7ad47;
}

.revimexBlue
{
    color: #002e6d;
}

.arenaClara
{
    background: #ffd082;
}

.titulo
{
    font-size: 24px;
    font-weight: bold;

    padding-top: 15px;

    color: #012967;
}

.descripcion
{
    font-size: 130%;

    color: #012967;
}

.des-propiedad
{
    font-size: 105%;
    font-weight: bold;

    margin: 7px 0;

    text-align: center;
}

.revimexImagen
{
    height: 82px;
}

.imagen-modal
{
    width: 100%;
    height: 55%;
    padding: 2% 0 2% 0;
}

.casitaImagen
{
    width: 31px;
    height: auto;
}

.sm-icon
{
    width: 20px;
    height: auto;
}

.highlight
{
    text-align: center;

    border: 4px solid #4db1e0;
}

.aviso
{
    font-size: 20px;

    margin: 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.capitalize
{
    text-transform: capitalize;
}

.logos
{
    width: 10%;
}

.imagenres
{
    width: 90%;
    height: 100px;
}

@media (min-width: 801px)
{
    .imagenres
    {
        width: 90%;
        height: 25%;
    }
}

.imagenres2
{
    width: 98%;
    height: 100%;

    border: none;
}

@media (max-width: 800px)
{
    .imagenres
    {
        width: 90%;
        height: 200px;
    }

    .thumbnail
    {
        height: 21.5em;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px)
{
    .imagenres
    {
        width: 90%;
        height: 100px;
    }

    .thumbnail
    {
        height: 15.5em;
        margin-bottom: 20px;
    }
}

.imagenres2
{
    width: 98%;
    height: 100%;

    border: none;
}

div#title-header
{
    margin-right: 7%;
    margin-bottom: 0;
    margin-left: -2%;
    padding: 0 20px;

    color: white;
    border-radius: 15px;
    background-color: #c3d03c;
}

.navbar-inverse
{
    z-index: 0;

    background-color: rgba(0, 41, 103, .52);
}

.tipo
{
    font-size: 14px;
    font-weight: bold;

    color: white;
}

.thumbnail
{
    border: 4px solid #46beef;
}

.button_borde
{
    padding: 2px;
    padding-right: 30px;
    padding-left: 30px;

    text-decoration: none;

    color: #fff;
    border: 2px solid #49beef;
    background-color: #49beef;
}

.img_borde
{
    height: 60px;
    padding: 2px;

    text-decoration: none;

    border-radius: 33px;
}

.boton_detalles_auto
{
    padding-right: 30px;
    padding-left: 30px;

    text-decoration: none;

    color: #fff;
    border: 2px solid #49beef;
    background-color: #49beef;
}

.input_borde
{
    width: 120%;
    margin-left: -13%;
    padding: 2px;

    text-decoration: none;

    border: 2px solid #cfdb00;
}

.navbar
{
    position: relative;

    min-height: 80px;
    margin-bottom: 0;

    border: 1px solid transparent;
}

.navbar-brand-sp
{
    font-size: 18px;
    line-height: 20px;

    float: left;

    height: 50px;
    padding: 0 15px;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #f5f5f5;
}

.navbar-inverse .navbar-nav > li > a:hover
{
    color: #ccc;
}

.carousel,
.item,
.active
{
    height: 210px;
}
@media (max-width: 800px) and (min-height: 800px)
{
    .carousel,
    .item,
    .active
    {
        height: 210px;
    }
}
@media (min-width: 1500px)
{
    textarea.input_borde
    {
        width: 270%;
        height: 76px;
        margin-top: 4%;
        margin-left: -169%;
    }
}

textarea.input_borde
{
    width: 269%;
    height: 76px;
    margin-top: 9%;
    margin-left: -162%;
}

@media (max-width: 1500px)
{
    div#title-header
    {
        width: 105%;
        margin-right: 9%;
        margin-bottom: 0;
        margin-left: -3%;
        padding: 0 20px;

        color: white;
        border-radius: 15px;
        background-color: #c3d03c;
    }
}

@media (max-width: 4000px) and (min-height: 700px)
{
    textarea.input_borde
    {
        width: 285%;
        margin-top: 30%;
        margin-left: -177%;
    }

    .input_borde
    {
        margin-top: 3%;
    }

    .form-group
    {
        margin: 5%;
    }

    .imgt
    {
        margin: 0;
    }

    img.imgt
    {
        height: 650px;
    }
}

b,
strong
{
    font-weight: 35px !important;
}

.noUi-connect
{
    background: #002967 !important;
}

.logos.redes_sociales
{
    margin-right: 13%;
}

@media (max-width: 1500px)
{
    /*#pac-input {
        width: 101% !important;

        margin-left: -35% !important;

    }*/
    h3,
    .h3
    {
        font-size: 20px;
    }

    h2
    {
        color: white;
    }

    div.scroll
    {
        width: 100%;
        height: 70%;
    }

    #map
    {
        width: 92% !important;
        margin-bottom: 0;
        margin-left: -3% !important;
    }

    .col-md-6.como_estas
    {
        width: 49%;
        /* margin-left: 10%; */
        margin-right: 1%;
        /* height: 700px; */
        /* padding-left: 13%; */
        padding-right: -18%;
    }

    .col-md-6.hola_description
    {
        width: 41%;
        height: 120%;
        margin-left: -1% !important;
    }
}

.col-md-4.col-md-offset-4.detelle
{
    margin-top: 5%;
}

.glyphicon-chevron-left:before
{
    content: '\e079';

    color: #48beef;
    /* margin-right: 17%; */
}

.glyphicon-chevron-right:before
{
    content: '\e080';

    color: #48beef;
}

div.scroll
{
    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 80%;
    margin-top: 2%;
}

#titulocercanas
{
    top: 5%;

    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
}

@media (max-width: 1200px)
{
    div.scroll
    {
        overflow-x: hidden;
        overflow-y: scroll;

        width: 100%;
        height: 80%;
        margin-top: 2%;
    }

    #titulocercanas
    {
        top: 5%;

        width: 80%;
        margin-top: 9%;
        margin-left: 10%;
    }
}

.col-md-6.como_estas
{
    width: 50%;
    /* margin-left: 10%; */
    margin-right: -1%;
    /* height: 700px; */
}

.col-md-6.hola_description
{
    width: 44%;
    height: 120%;
    margin-left: 5%;
}

.col-md-6.hola_description
{
    width: 41%;
    height: 120%;
    margin-left: 10%;
}

@media (max-width: 1250px)
{
    li.tipo
    {
        font-size: .75em !important;
    }

    #map
    {
        width: 107% !important;
        margin-bottom: 0;
        margin-left: -7% !important;
    }
}

@media (max-width: 1000px)
{
    li.tipo
    {
        font-size: .45em !important;
    }
}

@media (min-width: 1500px)
{
    #map
    {
        width: 80%;
        margin-bottom: 0;
    }

    .col-md-6.hola_description
    {
        width: 38%;
        height: 140%;
        margin-left: -1%;
    }
}

#map
{
    right: 10%;
    left: 5%;

    width: 80%;
    height: 70% !important;
    margin-top: 4% !important;
    margin-bottom: 0;
    margin-left: 6%;
}

#pac-input
{
    /*background-position: right center;

    width: 80%;*/
    height: 40px;
    /*margin-left: -16%;

    background-image: url("images/loupe.png");

    background-repeat: no-repeat;*/
}

.cajaDos
{
    width: 25%;
    height: auto;
    margin: 25px;
    padding: 25px;

    border: 3px solid green;
}

.imagenCajaDo
{
    width: 100%;
    height: auto;
}

.divButton .estiloBton
{
    font-size: 13px;

    padding: 6px 40px;

    text-align: center;

    color: white;
    border: 1px;
    background-color: #002967;
}

.divButton .estiloBton:not(:last-child)
{
    border-right: none; /* Prevent double borders */
}

.divButton .estiloBton:hover
{
    background-color: #cfdb00;
}

.barra.p
{
    color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main
{
    padding: 20px;

    transition: margin-left .5s;
}

@media (max-width: 1300px)
{
    #casas_cercanas
    {
        width: 70%;
        height: 65%;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
    }

    #map
    {
        width: 100% !important;
        margin-bottom: 0;
        margin-left: -3% !important;
    }
}

@media (min-width: 1400px)
{
    #casas_cercanas
    {
        width: 70%;
        height: 80%;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
    }

    #titulocercanas
    {
        top: 5%;

        width: 80%;
        margin-top: 12%;
        margin-top: 5%;
        margin-left: 10%;
    }
}

.search-bar-alv
{
    padding-bottom: 50px;
}

.search-btn
{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 13px;
    padding: 7px 11px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #9d9d9d;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #c3c3c3;
    border-radius: 0 4px 4px 0;
    background-color: #f3f3f3;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

@media screen and (min-width: 768px)
{
    .search-btn
    {
        margin-bottom: 0;
    }

    .search-bar-alv
    {
        padding-bottom: 35px;
    }
}

/* ----------------------------------------------------------------------------------------------
   ----------------------------------------------------------------------------------------------
   ---------------------------------------------------------------------------------------------- */
.gerente
{
    margin-top: -3%;
}

.icon-map
    {
        position: absolute;
        z-index: 4;
        padding-right: 0;
    }

@media (min-width: 1900px)
{
    .icon-map {
        position: absolute;
        z-index: 4;
        margin-left: 81% !important;
        padding-top: 7em !important;
        padding-right: 0;
    }
}

@media (max-width: 1900px)
{
    .icon-map {
        position: absolute;
        z-index: 4;
        margin-left: 81% !important;
        padding-top: 7em !important;
        padding-right: 0;
    }
}

@media (max-width: 2560px)
{

    .detalle
    {
        margin-top: -4%;
    }

    .ventas-detalle
    {
        font-size: 15px;

        margin-top: 9%;
    }

    .res-ventas
    {
        padding-left: 0;
    }

    .logos-rs
    {
        width: 33px;
        height: 33px;
    }

    .texto_card
    {
        font-size: 14px;

        width: 100%;
        height: 3.3em;
        margin-top: 5px;
    }
}

@media (max-width: 768px)
{
    #map
    {
        right: 0;
        left: 0;

        width: 100% !important;
        margin-bottom: 0;
        margin-left: 0 !important;
    }

    /*.thumbnail
    {
        height: 15.5em;
        margin-bottom: 20px;
    }*/

    .texto_card
    {
        font-size: 14px;

        width: 100%;
        height: 3.5em;
        margin-top: 5px;
    }

    #casas_cercanas
    {
        width: 100%;
        height: 60%;
        margin-top: 7%;
        margin-right: 0;
        margin-left: 0;
    }

    div.scroll
    {
        height: 95%;
    }

    .col-md-6.hola_description
    {
        width: 100%;
        height: 120%;
        margin-left: 10%;
    }

    .icon-map
    {
        position: absolute;
        z-index: 4;

        margin-left: 75% !important;
        padding-top: 3em !important;
        padding-right: 0;
    }

    .detalle
    {
        margin-top: 5%;
    }

    .ventas-detalle
    {
        margin-top: 0;
    }

    .res-ventas
    {
        margin-top: 20px;
    }

    .ventas-detalleII
    {
        margin-bottom: 65px;
    }

    .input_borde
    {
        width: 100%;
        margin-top: 5px;
        margin-left: 0;
        padding: 3px;

        text-decoration: none;

        border: 2px solid #cfdb00;
    }

    textarea.input_borde
    {
        width: 100%;
        height: 76px;
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width: 320px)
{
    #house_cards
    {
        position: relative;

        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 400px)
{
    .thumbnail
    {
        height: 14.5em;
    }

    .texto_card
    {
        font-size: 11px;

        width: 100%;
        height: 3.5em;
        margin-top: 2px;
    }

    .divButton .estiloBton
    {
        font-size: 12px;

        padding: 8px 21px;

        text-align: center;

        color: white;
        border: 1px;
        background-color: #002967;
    }

    .icon-map
    {
        margin-left: 70%;
        padding-top: 3.5em;
    }
}

@media screen and (min-width: 800px)
{
    .modal-detalles
    {
        position: fixed;
        z-index: 1050;
        top: 28px;
        right: 0;
        bottom: 0;
        left: 0;

        display: none;
        overflow: hidden;

        outline: 0;

        -webkit-overflow-scrolling: touch;
    }

    .modal-dialog-detalles
    {
        width: 1120px;
        margin: 30px auto;
    }
}

@media screen and (max-width: 800px)
{
    .modal-detalles
    {
        position: fixed;
        z-index: 1050;
        top: 28px;
        right: 0;
        bottom: 0;
        left: 0;

        display: none;
        overflow: hidden;

        outline: 0;

        -webkit-overflow-scrolling: touch;
    }

    .modal-dialog-detalles
    {
        width: auto;
        margin: 30px auto;
    }
}

.titulo-contacto
{
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;

    display: block;

    margin-top: 0;
    margin-bottom: 16px;
    padding-top: 15px;

    color: inherit;
}

.modal-detalles
{
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    outline: 0;

    -webkit-overflow-scrolling: touch;
}

.modal-open .modal-detalles
{
    overflow-x: hidden;
    overflow-y: scroll;
}

.modal-content-detalles
{
    position: relative;

    border: 1px solid #999;
    border: 3px solid rgb(73, 189, 240);
    border-radius: 0;
    outline: 0;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    /* -webkit-box-shadow: 0 5px 15px rgba(0, 40, 0, .5); */
    /* box-shadow: 0 5px 15px rgba(0, 40, 0, .5); */
}

.imagen-modal-detalles
{
    width: 101.6%;;
    height: 23.5em;
    padding: 0 0 0 0;
}

.estiloBton-detalles
{
    font-size: 15px;

    width: 130px;
    height: 30px;
    margin: 7px 0;

    text-align: center;

    color: white;
    border: 1px;
    border-radius: 5px;
    background-color: #002967;
}

.titulo-resp
{
    font-size: 24px;
    font-weight: bold;

    padding-top: 15px;

    color: #012967;
}

@media (max-width: 500px)
{
    .mod-resp
    {
        height: 3.5em;
    }

    .titulo-resp
    {
        font-size: 116%;
        font-weight: bold;

        padding-top: 15px;

        color: #012967;
    }

    .titulo-contacto
    {
        font-size: 11px;
    }

    .imagen-modal-detalles
    {
        height: 20em;
    }

    .direccion
    {
        font-size: 90%;

        color: #012967;
    }

    .descripcion
    {
        font-size: 130%;

        color: #012967;
    }

    .des-propiedad
    {
        font-size: 99%;

        margin: 4px 0;
    }

    .precio
    {
        font-size: 25px;
        font-weight: bold;

        margin: 10px 0;

        color: #012967;
    }

    .estiloBton-detalles
    {
        font-size: 14px;

        width: 138px;
        height: 30px;
        margin: 10px 0;
        /* padding: 8px 67px; */

        text-align: center;

        color: white;
        border: 1px;
        border-radius: 5px;
        background-color: #002967;
    }

    .casitaImagen
    {
        width: 25px;
        height: auto;
    }
}

#description-casas-mobile
{
    margin-top: 25px;
}


@media (max-width: 800px)
{
    div.scroll
    {
        width: 83.33333333%;
        height: 95%;
        margin-left: 8.33333333%;
    }
}




@media (max-width: 800px)
{
    .gerente
    {
        margin-top: 2%;
    }

    .ventas-detalle
    {
        margin-top: 25px;
    }

    .logos-rs
    {
        width: 50px;
        height: 50px;
    }

    .boton_detalles_auto
    {
        width: 180px;
        height: 36px;
    }

    #titulocercanas
    {
        top: 5%;

        width: 90%;
        margin-top: 20px;
        margin-left: 5%;
    }

    .icon-map
    {
        margin-left: 86% !important;
    }
}

@media (max-width: 500px)
{
    div.scroll
    {
        width: 100% !important;
        height: 95% !important;
        margin-left: 0 !important;
    }

    .icon-map
    {
        margin-left: 75% !important;
    }

    .logos-rs {
        width: 37px !important;
        height: 37px !important;
    }


@media (max-width: 350px)
{
    .icon-map
    {
        margin-left: 70% !important;
    }
}
