.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color:#002e6d;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width:100%;
    height: auto;
}

.navbar-default .navbar-nav > .open > a,  
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: rgba(255, 255, 255, .15);
}
.navbar-default .navbar-nav > .open  a:hover
{
    background-color: #00164f;
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-toggle {
    color:black;
}
.navbar-brand {
    min-height:30px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
#lst a{
    font-size: 140%;
    color:white;
}
#lst{
    width:100%;
    height: auto;
}
.dropdown-menu {
    background-color: rgba(0,0,0,0.5) !important;
}
#lst img{
    margin-top:-6%;
    width:50%;
    height:auto;
}
.menuletters{
    margin-top: 1.1%;
}
#propiedades{
    margin-left:33%;
}
#inver{
    margin-left: 50%;
}
#recomend{
    margin-left: -90%;
}
#success{
    margin-left:-56%;
}