/* Ver más */

    .verM {
        background-color: #CFDB00;
        border: none;
        color: #002e6d;
        padding: 11px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin: 4px 2px;
        cursor: pointer;
    }

    /* Formulario */

    .estiloEnviar{
        background-color: #002e6d; 
        color: white; 
        padding: 8px 28px; 
        border: none; 
        font-size: 16px; 
        font-weight: lighter;
    }

    .estiloBorrar{
        background-color: white; 
        color: black; 
        padding: 8px 28px; 
        border: 2px solid #008CBA; 
        font-size: 16px; 
        font-weight: lighter;
    }

    .botonFinal{
        text-align: center;
        height: 100px;
        width: 11%;
    }

    .miSelect{
        width: 100%;
        border-style: solid;
        border-color: #CFDB00;
        border-width: 2px;
        height: 46px;
    }

    .inputFecha[placeholder]{

        font-weight:bold;
        text-align:center;
        font-family: 'Roboto', sans-serif;
        width: 78%;
    }

    .campoanio{
        text-align: right;
        height: 100px;
    }

    .inputFecha{
        width: 50%;   
        margin-right: 0px;
        border-style: solid;
        border-color: #CFDB00;
        border-width: 2px;
        height: 46%;
    }

    .misInput{
        width: 100%;
        margin-top: 6%;
        border-style: solid;
        border-color: #CFDB00;
        border-width: 2px;
        height: 46px;
    }

    .miform{

        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
    }


    .espacioForm{

        padding-top: 5%;

    }

    .Contacta{

        position: relative;
        text-align: center; 
        margin-top: -2%;

    }

    /* Estilos estadisticos móviles */

    .tamanocerdo{

        width: 12vw;

    }
    .LetrasEstMedioMovil {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #002e6d;
        opacity: 1;
        font-size: 40px;
        font-size: 5vw;
        width: 100%;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
    }

    .LetrasEstCifraMovil {
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #46beef;
        opacity: 1;
        font-size: 40px;
        font-size: 8.9vw;
        width: 100%;
        font-family: 'Varela Round', sans-serif;
        font-weight: 900;
    }

    .LetrasEstEncabeMovil {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 40px;
        font-size: 6vw;
        width: 100%;
        font-family: 'Oswald', sans-serif;

    }

    .estiloEstadMovil{

        display: flex;
        justify-content: inline-block;

    }

    .fondosMovil{

        width: 58%;
        height: auto;

    }

        div.cotenedorAzulFuerteMovil {
        position: absolute;
        top: 94%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 58%;
        height: 5%;
        background: #002e6d;
    } 

    div.cotenedorAzulClaroMovil {
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 58%;
        height: 31%;
        background: #46beef;
        opacity: 0.6;
    } 

    div.cotenedorBlancoMovil {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 58%;
        height: 21%;
        background: #fff;
        opacity: 0.6;
    } 

    div.cotenedorAzulMovil {
        position: absolute;
        top: 21%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 58%;
        height: 43%;
        background: #002e6d;
        opacity: 0.6;
    } 


    /* Estilos estadísticos */

    div.cotenedorAzulFuerte {
        position: absolute;
        top: 94%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 84.3%;
        height: 5%;
        background: #002e6d;
    } 

    div.cotenedorAzulClaro {
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 84.5%;
        height: 31%;
        background: #46beef;
        opacity: 0.6;
    } 

    div.cotenedorBlanco {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 84.5%;
        height: 21%;
        background: #fff;
        opacity: 0.6;
    } 

    div.cotenedorAzul {
        position: absolute;
        top: 21.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        width: 84.3%;
        height: 42.4%;
        background: #002e6d;
        opacity: 0.6;
    } 

    /* Icono estadístico */

    .iconEsta {
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    /* Letra de en medio estadística */

    .LetrasEstMedio {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #002e6d;
        opacity: 1;
        font-size: 40px;
        font-size: 2vw;
        width: 100%;
        font-family: 'Oswald', sans-serif;
        font-weight: 900;
    }

    /* Letra de encabezado en estadística */

    .LetrasEstCifra {
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #46beef;
        opacity: 1;
        font-size: 40px;
        font-size: 3.9vw;
        width: 100%;
        font-family: 'Varela Round', sans-serif;
        font-weight: 900;
    }

    /* Letra de encabezado en estadística */

    .LetrasEstEncabe {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: #FFFFFF;
        opacity: 1;
        font-size: 40px;
        font-size: 2vw;
        width: 100%;
        font-family: 'Oswald', sans-serif;

    }

    .espacioEsta{

        padding-top: 3%;

    }

    .fondos{

        width: 84%;
        height: auto;

    }

    .caja1 {
        width: auto;
        height: auto;
        position: relative;
        /*border: 1px solid red;*/
    }

    .estiloEstad{

        display: flex;
        justify-content: space-around;

    }

    /* Propiedades móviles */


    .cajaIndexMovil {
        border: 4px solid #46beef;
        width: 62%;
        height: 55%;
    }

    .cajaIndexMovil2 {
        border: 4px solid #46beef;
        width: 76%;
        height: 45%;
    }

    /* Estilos chicos */

    .espacioChico{

        padding-top: 5%;
    }

    .btnEstandarChico {
        border: none;
        padding: 16% 32%;
        text-align: center;
        font-size: 40px;
        font-size: 3.5vw;;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .cajaIndexPequena {
        border: 4px solid #46beef;
        width: 54%;
        height: 54%;
    }

    /* Estilos medianos */

    .flexeandoMedio{

        display: flex;
        justify-content: space-around;

    }

    .propiCercaMedio{

        position: relative;
        text-align: center; 
        z-index: -1;
        padding-top: 2%;

    }

    .espacioMediano{

        padding-top: 5%;
    }

    .cajaIndexMediana {
        border: 4px solid #46beef;
        width: 28%;
        height: 41%;
    }

    .btnEstandarMediano {
        border: none;
        padding: 16% 32%;
        text-align: center;
        font-size: 40px;
        font-size: 1.5vw;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .btnPropiedadMedian {
        background-color: #002e6d; 
        color: white; 
        padding: 2% 14%;
    }

    .btnPropiedadMedian:hover {
        background-color: #46beef;
        color: white;
    }

    /* Boton de propiedad */

    .btnEstandar {
    border: none;
    padding: 16% 32%;
    text-align: center;
    font-size: 40px;
    font-size: .8vw;;
    transition-duration: 0.4s;
    cursor: pointer;
    }

    .btnPropiedad {
        background-color: #002e6d; 
        color: white; 
        padding: 2% 14%;
    }

    .btnPropiedad:hover {
        background-color: #46beef;
        color: white;
    }


    /* Foto de propiedad */

    .fotoPrin{

        width: 100%;
        height: 100%;
    }
    
    /* Estilo caja */

    .contornoImagen{

        border: 2px solid #1c3562;
        width: auto;
        height: 66%;
    }

    .cajaHijo{

        left: 6%;
        top: 13px;
        width: 88%;
        
        position: relative;
    }

        .cajaIndex{

        border: 4px solid #46beef;
        width: 17%;
        height: 33%;

        }

    /* Ejemplo de flex */

    .espacioPro{

        height: 38%;

    }

    .flexeando{

        display: flex;
        justify-content: space-around;

    }
    /**/
    /* Scroll */
    div.scroll {
        width: auto;
        height: 600px;
        overflow: scroll;
    }

    /* Clase de las propiedades */
    body{
        min-width:1000px; 
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
        min-width: auto;
    }
    .propiCerca{

        position: relative;
        text-align: center; 
        z-index: -1;
        padding-top: 2%;

    }

    /* Clase de letra para propiedades cercanas */

    #lasCercanas{

        color: #002e6d;
        font-size: 40px;
        font-size: 3vw;
        font-family: 'Oswald', sans-serif;
        font-weight:900;
        z-index: -1;
    }


    /* Div de las propiedades */

    .Publicity{
        position: relative;
        text-align: center; 
        margin-top: 57%;
    }

    /* Drop de Conócenos */
    
    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(10,0,0,0.2);
        padding: 0px 0px 0px 0px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Tamaño de la letra */
    .tamanoLetra{

      font-size: 40px;
      font-size: 1vw;
      font-family: 'Varela Round', sans-serif;
    }

    .topnavMenu {
        z-index: 0;
        background-color:#002e6d;
    }

    h1{
        font-size:100px;
        font-size: 4.5vw;
        display: inline;
        left: 20%;
        right: 25%;
    }
    h3{
        font-size:100px;
        font-size: 2.5vw;
        display: inline;
        left: 20%;
        right: 25%;
    }
p{

font-family:"Comfortaa";font-size:17px;
  margin-top: 13%;
 }
   


.topnavMenu li {
  float: left;
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  
  width: 14.2857142857%;

  text-decoration: none;
  font-size: 17px;


  
}


/* Sustituyendo los a href*/
.opcionMenu {
  float: left;
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  
  width: 14.2857142857%;

  text-decoration: none;
  font-size: 17px; 
}

.opcionMenu:hover {
    background-color: #011538;
    padding: .2% .2% .2% .2%;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    z-index: 10;
}

a:hover{

  color: #f2f2f2;

}

/* Logotipo de Revimex del menú */
.logoindex{

  width: 100%;
  height: auto;

}

.topnavMenu .icon {
  display: none;
}

@media screen and (min-width: 767px) {
 div#boton {
                display: none;
            }


}
@media screen and (max-width: 767px) {
            div#menu1 {
                display: none;
            }
            .telefono{
                display: none;
            }
}

@media screen and (max-width: 564px){
    .imageFooter{
        width: 75%;
        height: auto;
    }
}

        /* The side navigation menu */
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: +10;
            top: 0;
            left: 0;
            background-color: rgba(0, 41, 103, .52) !important; /* azul */
            overflow-x: hidden;
            padding-top: 60px;
            display: block;
            scroll-behavior: none;
          
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

        }

        /* The navigation menu links */
        .sidenav a {
            padding: 5px 5px 1% 5px;
            text-decoration: none;
            font-size: 25px;
            color: #f1f1f1;
            display: block;
            transition: 0.3s;
            z-index: 10;
        }


       

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            z-index: 10;
        }


        .barra.p{
            color: white;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            padding: 20px;
        }
         
       

         

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }

        @media screen and (min-width: 800px) {
            div#mySidenav {
                display: none;
            }

        }


        /* Desaparacer propiedades */

        @media screen and (max-width: 1199px) {
            div#PropiedadesGrande{
                display: none;
            }
        }

        /* Propiedades con scroll a 1200 */

        @media screen and (min-width: 1200px){
            div#PropiedadesPares{
                display: none;
            }
        }

        /* Desapareciendo propiedades con scroll a 1200  */

         @media screen and (max-width: 799px){
            div#PropiedadesPares{
                display: none;
            }
        }

        /* Propiedades con scroll a 800 */

         @media screen and (min-width: 800px){
            div#PropiedadesSolas{
                display: none;
            }
        }  

        /* Desaparecer propiedades con scroll 800 */      
        @media screen and (max-width: 559px){
            div#PropiedadesSolas{
                display: none;
            }
        }

        /* Propiedades con scroll a 560 */

         @media screen and (min-width: 560px){
            div#PropiedadesMovil{
                display: none;
            }
        }  

        /* Desaparecer propiedades con scroll 560 */      
        @media screen and (max-width: 459px){
            div#PropiedadesMovil{
                display: none;
            }
        }

        /* Propiedades con scroll a 560 */

         @media screen and (min-width: 460px){
            div#PropiedadesMovil2{
                display: none;
            }
        }  
 
         /* Desaparecer Estadisticas línea 3 */      
        @media screen and (max-width: 799px){
            div#estaGran{
                display: none;
            }
        }

        /* Aparecer estadisticas línea 1 */

         @media screen and (min-width: 800px){
            div#estaChi{
                display: none;
            }
        } 
        
        @media only screen and (max-width: 800px) {
            #preca{
                padding-top:20%;
                float: none;
                width:100%;
                height: auto;
                text-align: center;
            }
            #NSS{
                padding-top:15%;
                float: none;
                width:100%;
                height: auto;
                text-align: center;
            }
            #Social{
                float: none;
                width:100%;
                height: auto;
            }
            #Social img:last-child{
                margin-top:20%;
            }
            #aviso{
                float: none;
                width: 100%;
                height : auto;
            }
            #footer{
                height: auto;
            }
            #footer p{
                padding: 0% 0 0 5%;
            }
        }

        

         /* Desaparecer altura y tamaño del carrousell  */      
        @media screen and (max-width: 1299px){
            div#Carusell1{
                display: none;
            }
        }

    
        @media screen and (min-width: 1300px){
            div#Carusell2{
                display: none;
            }
        }

        @media screen and (max-width: 999px){
            div#Carusell2{
                display: none;
            }
        }
        @media screen and (min-width: 1000px){
            div#Carusell3{
                display: none;
            }
        }
        @media screen and (max-width: 769px){
            div#Carusell3{
                display: none;
            }
        }
        @media screen and (min-width: 770px){
            div#Carusell4{
                display: none;
            }
        }
        @media screen and (max-width: 769px){
            div#contenido1{
                display: none;
            }
        }
        @media screen and (min-width: 770px){
            div#contenido2{
                display: none;
            }
        }

        /* Aparecer estadisticas línea 1 */

/*
         @media screen and (min-width: 800px){
            div#estaChi{
                display: none;
            }
        } 
 */
    .imgindex{
            width: 100%;
            height: 70%;
            background: url("images/IMG-HOME-WEB-JUN2017-AZUL.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-size: 100%;
            position: relative;
            z-index: -2;
    }
    #imageHome {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
        z-index: -1;
    }
    .azul{
        width: 100%;
        position: relative;
        /*background-color: rgba(0, 41, 103, .52) !important;  azul */
        background-size: contain;
        height: 70vh;
    }
    .telefono{
        width: 100%;
        height: 10%;
        position: absolute;
        color: #ffffff;
        text-align: right;
        margin-top: 10%;
        z-index: -1;
        margin-left: -80px;
        font-size: 80px;
        font-size: 1.5vw;
        font-family:"Comfortaa";
        letter-spacing: 2px;
    }
    .titulo{
        color: #ffffff;
        text-align: center;
        align-content: center;
        z-index: 1;
        letter-spacing: 8;
        font-family:"Comfortaa";
    }
    .buscador{
        width: 90%;
        height: 46px;
        color: gray;
        font-family:"Comfortaa";
        z-index: 1;
    }
    .positionTitle
    {
        margin-top: 22%;
        left: 25%;
        right: 20%;
        height: 6%;
        position: absolute;
        z-index: 1;
    }
input{
    background-color: #fff;
}
input::-webkit-input-placeholder {
  color: gray;
  font-family: Comfortaa;
  font-size: 15px;
}
input:-moz-placeholder {
  color: gray; 
  font-family: Comfortaa;
  font-size: 15px;
}
input:-ms-input-placeholder { 
  color: gray; 
  font-family: Comfortaa;
  font-size: 15px;
}