#preca{
    padding-top: 9%;
    text-align: center;
    background-color: #e6e6e6;
    float:left;
    width:50%;
}
#NSS{
    padding-top: 9%;
    text-align: center;
    background-color: #e6e6e6;
    float: right;
    width:50%;
}
#preca img, #NSS img{
    margin-top: -15%;
    max-width: 90%;
    height: auto;
    width: 700%;
}
#btns{
    margin:0 0 9% 0;
    width: 100%;
    padding-top: 3%;
}
#footer{ 
    position:absolute; 
    right: 0;
    left: 0;
    width:100%; 
    height: auto;
    background: #002e6d;
    margin-top:3%;
}

#Social > a {
    display: inline-block;
    margin-left: 5%;
}



#Social {
    text-align: center;
    margin: 3.5% auto;
    width: 50%;
    height: auto;
}
#aviso{
    width:50%;
    height: auto;
}

footer p{
    margin: 0 0 0 0;
    font-family:"Comfortaa";
    text-align: center;
    font-size: 1.5vw;
    color:white;
    padding: 6% 0 0 0;
}